// alert('ajax works!');
//
// $("#new_comment").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
// $("#comments_count").html("<%= pluralize(@post.comments.size, 'Comment' %>)");
// $("final-hurdle").append("<%= escape_javascript(render(partial: @comment)) %>");
// $("#new_comment")[0].reset();

$("#new_comment").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$("#comments_count").html("<%= pluralize(@post.comments.size, 'Comment') %>");
$("#final_hurdle").append("<%= j render(@comment) %>");
$("#new_comment")[0].reset();

// $("#new_comment").remove();
// $("#final-hurdle").append('<%= j render(@comment) %>');
