<div class="container">
  <h1>All Published and Drafted Posts</h1>
  <div class="row">
    <div class="panel-heading"></div>
    <table class="table">
      <thead>
        <tr class="filters">
          <th>Id</th>
          <th><input type="submit" class="btn btn-default filter" id="filter-title" value="Filter by Title"><input type="text" id="post_title" class="form-control" placeholder="Title"></th>
          <th><input type="submit" class="btn btn-default filter" id="filter-author" value="Filter by Author"><input type="text" id="author_name" class="form-control" placeholder="Author"></th>
          <th>Published?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="all-posts">
				<% @posts.each do |post| %>
          <tr class="POSTS">
            <td class="id"><%= post.id %></td>
            <td class="title"><%= link_to post.title, post_path(post), class: 'post_title', id: "post_#{post.title}" %></td>
            <td class="author"><%= post.author %></td>
            <td class="status"><%= post.published_helper %></td>
						<td><%= link_to "Edit", edit_post_path(post) %></td>
            <td><%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Really delete the post?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<li><%= link_to "Create a New Post", new_post_path, class: "new_post" %></li>
<li><%= link_to "Back", root_path, class: "published" %></li>
